{
  "parser": "babel-eslint",
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "no-console": ["off"],
    "quotes": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "react/require-default-props": ["off"],
    "react/jsx-first-prop-new-line": ["off"],
    "react/jsx-closing-bracket-location": ["off"],
    "react/jsx-max-props-per-line": ["off"],
    "react/jsx-filename-extension": ["off"],
    "no-underscore-dangle": ["off"],
    "react/jsx-indent-props": ["off"],
    "react/jsx-indent": ["off"],
    "react/jsx-closing-tag-location": ["off"],
    "react/jsx-wrap-multilines": ["off"],
    "react/jsx-one-expression-per-line": ["off"],
    "react/prefer-stateless-function": ["off"],
    "react/no-multi-comp": ["off"],
    "no-plusplus": ["off"],
    "no-else-return": ["off"],
    "import/extensions": ["error", "never", { "ignorePackages": true }]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  }
}
